.wrapper {
    text-align: center;
}

.btn {
    background-color: aliceblue;
    border-radius: 10%;
    height: 100px;
    width: 150px;
}

.btn:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

body {
    background-color: rgba(195, 252, 255, 0.938);
}